# Here you can put patterns to exclude certain files or folders from the git repository.
# Remember that you can refer to https://git-scm.com/docs/gitignore#_pattern_format to see how you can format your patterns.
